.products_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem;
}

@media (min-width: 960px) {
  .products_list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vw;
    padding: 0 5vw;
  }
}
