#home-hero {
  img {
    width: 100%;
  }
}

#home-message {
  div {
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 2rem;
  }
}

#home-featured {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin: 3rem 0 2rem;
    }
  }
}

#home-about {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: left;
    letter-spacing: 0.05rem;
    width: 80%;
    line-height: 1.7rem;
  }

  a {
    margin: 1rem 0;
  }
}

#home-shop {
  position: relative;

  img {
    width: 100%;
  }

  .home-shop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    position: absolute;
    top: 10rem;
    width: 100%;

    h2 {
      color: var(--c-bg);
      font-weight: 200;
      text-align: center;
    }
  }
}

// MEDIA QUERY DESKTOP
@media (min-width: 960px) {
  #home-hero {
    img {
      height: 84vh;
      object-fit: cover;
    }
  }

  #home-message {
    padding: 5rem 0;
  }

  #home-about {
    p {
      width: 50%;
      line-height: 1.9rem;
    }
  }

  #home-shop {
    height: 80vh;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: -60vh;
    }

    .home-shop-content {
      top: 30vh;

      h2 {
        font-size: 3rem;
        user-select: none;

        br {
          display: none;
        }
      }
    }
  }
}
