.loader-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba($color: #000, $alpha: 0.8);
  z-index: 999;
  user-select: none;

  .loader {
    position: fixed;
    top: calc(50% - 3.5em);
    left: calc(50% - 3.5em);
    width: 7em;
    height: 7em;
    border: 1.1em solid rgba(255, 255, 255, 0.4);
    border-left: 1.1em solid rgba($color: #fff, $alpha: 0.8);
    border-radius: 50%;
    animation: load-animation 0.8s infinite linear;
    transition: opacity 0.3s;
    z-index: 1000;
  }

  .loader_message {
    position: fixed;
    top: 65%;
    left: calc(50% - 4rem);
    color: white;
    width: 8rem;
    text-align: center;
    z-index: 1000;
    font-size: 1rem;
    font-weight: 600;
  }
}

@keyframes load-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
