.checkout_form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 74%;
  margin: 2.2rem auto 1rem;

  .checkbox-input {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    margin: 1rem 0;
    border-bottom: 1px solid black;

    input {
      margin: 0 1rem 0rem 0;
    }
  }

  .checkout_general_heading {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .form_element {
    margin: 0.5rem 0 0.25rem;

    & label {
      margin-bottom: 0.1.5rem;
    }

    & input,
    & select {
      font-family: var(--font-main);
      border: 1px solid black;
      height: 4em;
      padding-left: 0.3rem;
      color: black;
    }
  }

  .checkout_form_text_input {
    display: flex;
    flex-direction: column;
  }

  .checkout_form_select {
    display: flex;
    flex-direction: column;
  }

  .checkout_btn_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.9rem;
    margin-top: 2rem;

    .checkout_nav_btn {
      border: 1px solid black;
      height: 4rem;
      font-family: var(--font-main);
      font-size: 1.1rem;
      letter-spacing: 0.15rem;
    }

    .checkout_dark_btn {
      background: black;
      color: white;
    }

    .checkout_dark_btn:hover {
      background: white;
      color: black;
      border: 1px solid black;
      cursor: pointer;
    }

    .checkout_light_btn {
      background: white;
      color: black;
      border: 1px solid black;
      cursor: pointer;
    }

    .checkout_light_btn:hover {
      background: black;
      color: white;
    }
  }

  .summary_container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .summary_heading {
      text-align: center;
      width: 100%;
      font-size: 0.9rem;
      margin: 0 0 1.5rem;
    }

    .summary_items {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .summary_item {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;

        .summary_item_image {
          width: 20%;
          aspect-ratio: 1/1;
          overflow: hidden;

          img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
          }
        }

        .summary_item_text {
          width: 50%;
          overflow: hidden;
          font-size: 0.85rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .summary_item_name {
            font-size: 0.8rem;
            font-weight: 500;
            width: fit-content;
            margin: -0.2rem 0 0.2rem;
          }

          .summary_item_option {
            font-size: 0.6rem;
            width: fit-content;
            font-weight: 300;
          }

          .summary_item_qty {
            font-size: 0.6rem;
            width: fit-content;
            font-weight: 300;
          }
        }

        .summary_item_price {
          width: fit-content;
          text-align: right;
          font-size: 0.7rem;
        }
      }
    }

    .summary_footer {
      text-align: right;
      margin: 0.5rem 0 1rem;

      .summary_spacer {
        width: 100%;
        height: 1px;
        background: black;
        margin: 0.7rem 0;
      }
    }
  }

  .card_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

    .payment_heading {
      text-align: center;
      width: 100%;
      font-size: 1.4rem;
      margin: 0 auto 0.9rem;
    }

    .payment_label {
      margin: 0 0 0.3rem;
    }

    .payment_email {
      margin: 0 0 1.2rem;
      border: 1px solid black;
      padding: 0.3rem;
      height: 4em;
      font-family: var(--font-main);
    }

    .payment_card_container {
      border-bottom: 1px solid #333;
      margin: 0 0 1.2rem;
      padding: 0.3em;
      height: 2em;
    }

    .payment_logos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .stripe_logo {
        height: 1.4rem;
      }

      .card_logos {
        display: flex;
        flex-direction: row;

        .card_logo {
          width: 1.4rem;
          aspect-ratio: 1/1;
          object-fit: contain;
        }
      }
    }
  }
}

.error_wrapper {
  margin: 3rem 10vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;

  .error_message {
    color: #e83838;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 2rem;
  }

  .error_next_step {
    font-size: 0.8rem;
  }

  & > h4 {
    font-size: 1.8rem;
  }

  & > div {
    font-weight: 100;

    & > p {
      margin: 0.5rem 0;
    }
  }

  & > a {
    background: black;
    color: white;
    padding: 1rem 1.5rem;
    margin-bottom: 10rem;
  }

  & > a:hover {
    background: white;
    color: black;
    border: 1px solid black;
  }
}

@media (min-width: 960px) {
  .checkout_form {
    width: 40%;
    min-width: 600px;

    .checkbox-input {
      font-size: 1.2rem;
      padding-bottom: 1.4rem;
      margin: 1.4rem 0;

      input {
        margin: 0 2rem 0 0;
      }
    }

    .checkout_general_heading {
      margin-bottom: 1.4rem;
      font-size: 2rem;
    }

    .form_element {
      margin: 0.8rem 0;

      & label {
        margin-bottom: 0.5rem;
      }

      & input,
      & select {
        padding-left: 0.5rem;
        font-size: 1rem;
      }
    }

    .checkout_form_text_input {
      display: flex;
      flex-direction: column;
    }

    .checkout_form_select {
      display: flex;
      flex-direction: column;
    }

    .checkout_btn_container {
      gap: 1.5rem;
      width: 80%;
      margin: 2rem auto;

      .checkout_nav_btn {
        font-size: 1.4rem;
      }
    }

    .summary_container {
      .summary_heading {
        font-size: 1.4rem;
        margin: 1rem 0 2.5rem;
      }

      .summary_items {
        gap: 3rem;

        .summary_item {
          .summary_item_image {
            img {
              width: 100%;
              aspect-ratio: 1/1;
              object-fit: cover;
            }
          }

          .summary_item_text {
            width: 50%;

            .summary_item_name {
              font-size: 1.3rem;
              margin: -0.2rem 0 0.2rem;
            }

            .summary_item_option {
              font-size: 1.1rem;
            }

            .summary_item_qty {
              font-size: 1rem;
              margin-top: 0.2rem;
            }
          }

          .summary_item_price {
            font-size: 1.2rem;
          }
        }
      }

      .summary_footer {
        text-align: right;
        margin: 2rem 0;
        font-size: 1.3rem;

        .summary_spacer {
          margin: 1rem 0;
        }
      }
    }

    .card_container {
      margin-bottom: 2rem;

      .payment_heading {
        font-size: 2.3rem;
        margin: 0 auto 1.3rem;
      }

      .payment_label {
        margin: 0 0 0.9rem;
        font-size: 1.3rem;
      }

      .payment_email {
        margin: 0 0 1.9rem;
        border: 1px solid black;
        padding: 0.3rem;
        height: 3em;
        font-size: 1.2rem;
      }

      .payment_card_container {
        margin: 0.2em 0 2rem;
        height: 3em;
      }

      .payment_logos {
        .stripe_logo {
          height: 2.3rem;
        }

        .card_logos {
          gap: 0.2rem;

          .card_logo {
            width: 2.3rem;
          }
        }
      }
    }
  }
}
