.page-content {
  #cart-heading {
    text-align: center;
    margin-bottom: -3rem;
  }

  #cart-table-heading {
    display: none;
  }

  .cart-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: var(--margin-def);

    .top-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        margin-right: 2rem;
        font-size: 0.6rem;
        font-weight: 100;
        letter-spacing: 0.15rem;
        cursor: pointer;
      }

      button:hover {
        text-decoration: underline;
      }
    }

    .checkout-btn {
      background: black;
      color: white;
    }

    .continue-btn {
      border: 1px solid black;
      margin-bottom: -1rem;
    }

    .btn-lg {
      width: 100%;
      height: 3rem;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .checkout-btn:hover {
      border: 1px solid black;
      background: white;
      color: black;
    }

    .continue-btn:hover {
      border: none;
      background: black;
      color: white;
    }
  }

  #cart-is-empty-content {
    margin: 4rem 0 2rem;

    #cart-is-empty-message {
      width: 90%;
      margin: 0 auto;
    }

    #cart-is-empty-btn {
      background: black;
      color: white;
      padding: 1rem 1.5rem;
      display: block;
      margin: 3rem auto 1rem;
      width: fit-content;
    }

    #cart-is-empty-btn:hover {
      background: white;
      color: black;
      border: 1px solid black;
    }
  }
}

// MEDIA QUERY DESKTOP
@media (min-width: 960px) {
  .page-content {
    #cart-heading {
      margin-bottom: -2rem;
      margin-top: 2rem;
    }

    #cart-table-heading {
      display: flex;
      flex-direction: row;
      margin: 3rem 10rem 0rem;
      justify-content: space-between;
      position: relative;

      .special-margin {
        position: absolute;
        right: 0;
        margin-right: 20vw;
      }
    }

    .cart-footer {
      margin: 0 10rem;
    }
  }
}
