.confirmation__wrapper {
  margin: 3rem 10vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;

  & > h4 {
    font-size: 1.8rem;
  }

  & > div {
    font-weight: 100;

    & > p {
      margin: 0.5rem 0;
    }

    #order-ref-num {
      font-weight: 600;
    }

    #email-notice {
      margin-top: 2rem;
    }
  }

  & > a {
    background: black;
    color: white;
    padding: 1rem 1.5rem;
    margin-bottom: 10rem;
  }

  & > a:hover {
    background: white;
    color: black;
    border: 1px solid black;
  }
}
