footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 1rem;

  .social-icons {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    width: 100%;
  }

  #footer-text {
    text-align: center;
  }
}
