footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;

  & > * + * {
    margin-top: 1rem;
  }

  .social-icons {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > * + * {
      margin-left: 3.5rem;
    }
  }

  #footer-text {
    text-align: center;
  }

  h4 {
    font-size: 9px;
    font-weight: 300;

    a {
      color: steelblue;
      cursor: pointer;
    }
  }
}
