/*========== FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap");

/*========== DEFAULT STYLES ==========*/
:root {
  --c-bg: #fff;
  --c-text: #000;

  --font-main: "Montserrat", sans-serif;

  --trans-def: all 300ms ease;
  --margin-def: 0 2rem;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  color: var(--c-text);
  background: var(--c-bg);
  font-family: var(--font-main);
  letter-spacing: 0.2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*========== UTILITY CLASSES ==========*/
.page-wrapper {
  width: 100vw;
  position: relative;
}

.page-section {
  padding: 2rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  min-height: 120px;
}

.h-main {
  font-size: 1.3rem;
  font-weight: 600;
}

.h-sub {
  font-size: 0.8rem;
  font-weight: 300;
}

.btn-def-black {
  color: var(--c-bg);
  background: var(--c-text);
  font-family: var(--font-main);
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  font-weight: 200;
  width: fit-content;
  padding: 1rem 1.3rem;
}
.btn-def-black:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.btn-def-white {
  color: var(--c-text);
  background: var(--c-bg);
  font-family: var(--font-main);
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  font-weight: 200;
  width: fit-content;
  padding: 1rem 1.3rem;
}

.error {
  color: #e83838;
  font-size: 0.7rem;
}
