/*========== FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap");

/*========== DEFAULT STYLES ==========*/
:root {
  --c-bg: #fff;
  --c-text: #000;

  --trans-def: all 300ms ease;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  color: var(--c-text);
  background: var(--c-bg);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}

/*========== UTILITY CLASSES ==========*/
.page-wrapper {
  width: 100%;
  position: relative;
}

.page-section {
  padding: 2rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}
