button {
  border: none;
  background: none;
}

a {
  color: var(--c-text);
}

.nav-links-mobile {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0;
  transition: all 200ms ease;
  background: white;
  padding: 2rem 0 0 2rem;
  z-index: 1000;

  li {
    padding: 2rem 0;
    border-bottom: 1px solid black;
    width: 80%;
  }

  li:last-child {
    border: none;
  }

  .x-icon {
    padding: 0;
    border: none;
  }
}

.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 1rem;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: white;
  z-index: 9000;
}

.nav-spacer {
  height: 10vh;
}

.nav-links-desktop {
  display: none;
}

.nav-icon {
  font-size: 2rem;
  color: var(--c-text);
  cursor: pointer;
}

// MEDIA QUERY DESKTOP
@media (min-width: 960px) {
  .nav-links-mobile {
    display: none;
  }
  #toggle-nav-icon {
    display: none;
  }

  .nav-spacer {
    height: 140px;
  }
  .nav-content {
    height: fit-content;
    display: block;

    .nav-content-center {
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;

      #logo-icon {
        font-size: 4rem;
      }

      .nav-links-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        font-size: 0.8rem;

        li {
          position: relative;

          a::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -1rem;
            width: 100%;
            height: 0rem;
            background: var(--c-text);
            transition: all 150ms ease;
          }

          a:hover::after {
            height: 0.5rem;
          }
        }
      }
    }
    #cart-icon {
      position: absolute;
      top: 2.5rem;
      right: 4rem;
    }
  }
}
