button {
  border: none;
  background: none;
}

a {
  color: var(--c-text);
}

.nav-links-mobile {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  background: white;
  padding: 2rem 0 0 2rem;
  z-index: 1000;
}

.nav-links-mobile li {
  padding: 2rem 0;
  border-bottom: 1px solid black;
  width: 80%;
}

.nav-links-mobile li:last-child {
  border: none;
}

.nav-links-mobile .x-icon {
  padding: 0;
  border: none;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  padding: 0 1rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: white;
  z-index: 9000;
}

.nav-spacer {
  height: 10vh;
}

.nav-links-desktop {
  display: none;
}

.nav-icon {
  font-size: 2rem;
  color: var(--c-text);
  cursor: pointer;
}

#cart-icon-link {
  position: relative;
}

#cart-icon-link .full-bubble::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0.8rem;
  height: 0.8rem;
  background: black;
  border-radius: 100%;
}

@media (min-width: 960px) {
  .nav-links-mobile {
    display: none;
  }
  #toggle-nav-icon {
    display: none;
  }
  .nav-spacer {
    height: 140px;
  }
  .nav-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
  }
  .nav-content .nav-content-center {
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.8rem;
  }
  .nav-content .nav-content-center #logo-icon {
    font-size: 4rem;
  }
  .nav-content .nav-content-center .nav-links-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3rem;
    font-size: 0.8rem;
  }
  .nav-content .nav-content-center .nav-links-desktop li {
    position: relative;
  }
  .nav-content .nav-content-center .nav-links-desktop li a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1rem;
    width: 100%;
    height: 0rem;
    background: var(--c-text);
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
  }
  .nav-content .nav-content-center .nav-links-desktop li a:hover::after {
    height: 0.5rem;
  }
  .nav-content #cart-icon {
    position: absolute;
    top: 2.5rem;
    right: 4rem;
  }
}
/*# sourceMappingURL=nav.css.map */