nav {
  margin: 1.3rem 0;
}

.offcanvas {
  background: #222;
  opacity: 1;
}

.offcanvas-header *,
.offcanvas-body * {
  color: #eee !important;
  letter-spacing: 0.2em;
  font-size: 0.84rem;
}

.spacer-line {
  height: 1px;
  background: #444;
}
